.container {
    height: 92vh;
    padding: 10px 0px;

    .no-border {
        border: 0 !important;
        padding: 0 !important;
    }
    
    .notification {
        text-align: right;
        .bell {
            font-size: 2rem;
            color: gold;
            cursor: pointer;
            &:hover {
                color: yellow;
            }
        }
    }

    .logo {
        h3 {
            color: gold;
        }
    }

    .wrap {
        position: relative;
        width: 100%;
    }

    .media {
        padding: 10px 10px;

        .mr-3, .ml-3 {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 3px;
            border: 2px solid rgb(170, 154, 146);
            &.online {
                border: 2px solid greenyellow;
            }
        }
        .media-body {
            color: rgb(163, 159, 159);
            font-size: .7rem;
            max-width: 100%;
            max-height: 80px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-wrap: break-word;
            overflow: hidden;
            .mt-0 {
                color: white;
                font-size: .8rem;
                font-weight: bold;
            }
        }
    }

    .main {
        height: 100%;

        .side-panel {
            height: 100%;
            background-color: #2c3e50;

            .search {
                text-align: center;
                padding: 5px;
                input {
                    width: 100%;
                    padding: 2px 5px;
                    background-color: transparent;
                    color: white;
                }
            }
            .contact-wrapper {
                height: calc(100% - 177px);
                padding: 0;

                .title {
                    padding: 6px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: .7rem;
                    color: white;
                    border-bottom: 1px dashed gray;

                    .fa {
                        float: right;
                        font-size: 1rem;
                        &:hover {
                            color: rgb(80, 24, 24);
                            cursor: pointer;
                        }
                    }
                }
            
                .contacts {
                    padding: 0;
                    padding-top: 20px;
                    height: 100%;
                    overflow: auto;

                    &::-webkit-scrollbar-track {
                        background-color: #2c3e50;
                    }

                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: #2c3e50;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #233040;
                    }
                    .media {
                        cursor: pointer;
                        &:hover {
                            background-color: #32465a;
                        }
                        &.active {
                            background-color: #32465a;
                        }
                    }
                }
            }
            .actions {
                position: absolute;
                bottom: 0;
                color: white;
                width: 100%;
                padding: 0 5px;
                .col {
                    background-color: #463f7b;
                    text-align: center;
                    padding: 5px;
                    text-transform: uppercase;
                    font-weight: bold;

                    &:hover {
                        background-color: #5248a0;
                        cursor: pointer;
                    }
                }
            }
        }

        .chat-panel {
            background-color: #e6eaea;
            padding: 0;

            .conversation-info {
                padding: 0 10px;
                background-color: #426282;
            }

            .conversation {
                height: calc(100% - 122px);
                .media {
                    max-width: 70%;

                    .message-avatar {
                        width: 25px;
                        height: 25px;
                    }
                    .message-content {
                        padding: 5px;
                        border-radius: 5px;
                        background-color: rgb(46, 46, 107);
                        overflow-wrap: break-word;
                        white-space: normal;
                        color: whitesmoke;
                        word-spacing: .1rem;
                    }
                    &.sender {
                        float: right;
                    }
                }
            }

            .message-input {
                position: absolute;
                bottom: 0;
                padding: 5px 5px;
                width: 100%;

                input {
                    padding: 9px 10px;
                    outline: 0;
                    border: 0;
                    width: calc(100% - 90px);
                    color: gray;
                }
                .attachment {
                    padding: 9px;
                    &:hover {
                        color: #4c6c8b;
                        cursor: pointer;
                    }
                }
                button {
                    float: right;
                    padding: 9px 20px;
                    background-color: #426282;
                    outline: 0;
                    border: 0;
                    color: whitesmoke;
                    cursor: pointer;
                    &:hover {
                        background-color: #4c6c8b;
                    }
                }
            }
        }
    }
}