#typo {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
    width: 50%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Rakkas', serif;
}

@media only screen and (max-width: 720px) {
    #typo {
        font-size: 2vw;
    }
}