.control-panel-wrapper {
    .config-panel {
        height: 100%;
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -40%;
        background: #111;
        transition: left 1s;
        display: block !important;
        padding: 20px;

        .toggle {
            padding: 5px 10px;
            position: absolute;
            right: -30px;
            top: 0;
            bottom: 0;
            height: 34px;
            display: block;
            margin: auto;
            background: darkblue;
            cursor: pointer;
        }

        &.show {
            left: 0;
            .toggle::after {
                content: "x"
            }
        }

        &.hidden {
            @keyframes shadow-pulse {
                0% {
                    box-shadow: 0 0 0 0px rgba(29, 148, 142, 0.9);
                }
                100% {
                    box-shadow: 0 0 0 35px rgba(29, 148, 142, 0);
                }
            }
            .toggle {
                &::after {
                    content: ">>"
                }
                animation: shadow-pulse 1s infinite;
            }
        }

        .panel {
            overflow: hidden;
        }

        .form-group {
            &.hasError {
                textarea {
                    border: 2px solid rgb(139, 22, 22);
                }
                span {
                    color: rgb(139, 22, 22);
                    font-size: 12px;
                }
            }
        }

        .btn {
            box-shadow: none !important;
        }

        .btn-danger {
            margin-top: 10px;
            width: 100%;
        }

        .note {
            font-size: 12px;
            color: #8e8d8d;
        }
    }

    .typo {
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: white;
        width: 50%;
        text-align: center;
        font-size: 1.5vw;
        font-family: 'Rakkas', serif;
    }
}

@media only screen and (max-width: 720px) {
    .control-panel-wrapper {
        .config-panel {
            width: 100%;
            .toggle {
                padding: 5px 10px;
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                height: 30px;
                display: block;
                background: darkblue;
                cursor: pointer;
            }
            &.hidden {
                .toggle {
                    right: -30px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                left: -100%;
            }
            &.show {
                overflow-y: auto;
            }
        }
    }
}